<div class="ticket-info">
  <h1>Ticket Details</h1>

  <p><strong>Request Number:</strong> <%= @ticket.request_number %></p>
  <p><strong>Sequence Number:</strong> <%= @ticket.sequence_number %></p>
  <p><strong>Request Type:</strong> <%= @ticket.request_type %></p>
  <p><strong>Request Action:</strong> <%= @ticket.request_action %></p>
  <p><strong>Response Due Date:</strong> <%= @ticket.response_due_date %></p>
</div>

<div class="ticket-info">
  <h2>Associated Excavators</h2>
  <div>
    <p><strong>Company Name:</strong> <%= @ticket.excavator.company_name %></p>
    <p><strong>Contact Name:</strong> <%= @ticket.excavator.contact_name %></p>
    <p><strong>Email:</strong> <%= @ticket.excavator.email %></p>
    <p><strong>Phone Number:</strong> <%= @ticket.excavator.phone_no %></p>
  </div>
</div>

<div class="ticket-info">
  <h2>DigsiteInfo WellKnownText<h2>
  <div
    id="map-canvas"
    data-controller="map"
    data-map-coords-value="<%= @ticket.digsite_info %>"
  ></div>
</div>

<%= link_to 'Back', tickets_path %>
