<div class="ticket-info">
  <h1>Ticket Details</h1>

  <p><strong>Request Number:</strong> <%= @ticket.request_number %></p>
  <p><strong>Sequence Number:</strong> <%= @ticket.sequence_number %></p>
  <p><strong>Request Type:</strong> <%= @ticket.request_type %></p>
  <p><strong>Request Action:</strong> <%= @ticket.request_action %></p>
  <p><strong>Response Due Date:</strong> <%= @ticket.response_due_date %></p>
</div>

<div class="ticket-info">
  <h2>Associated Excavators</h2>
  <% @ticket.excavators.each do |excavator| %>
    <div>
      <p><strong>Company Name:</strong> <%= excavator.company_name %></p>
      <p><strong>Contact Name:</strong> <%= excavator.contact_name %></p>
      <p><strong>Email:</strong> <%= excavator.email %></p>
      <p><strong>Phone Number:</strong> <%= excavator.phone_no %></p>
    </div>
  <% end %>
</div>

<div class="ticket-info">
  <h2>DigsiteInfo WellKnownText<h2>
  <div id="map-canvas" data-polygon = '<%= @ticket.digsite_info %>'></div>
</div>
<%= link_to 'Back', tickets_path %>


<script type="text/javascript">
  if (!initializeGoogle) {
    var initializeGoogle = window?.initializeMap || function () {};    
  }

  if (google?.maps) {
    initializeGoogle();
  } else {
    google?.maps?.event?.addDomListener(window, 'load', initializeGoogle);
  }
</script>
